#body p, #body h1, #body, h3{
    color: white;
}

#container {
    background-color:#333333;
    font-family:sans-serif;
    width: 100%;
    height: auto;
}

#header{
    width: 100%;
    height: 680px;
    margin: 0 ;
    border-bottom: 1px solid #334155;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#searchbox{
    margin-top: 400px;

    background-color: white;
    border-radius: 50px;
    padding: 5px;
    position: absolute;
  
}

#searchbox input{
    background: transparent;
    border: none;
    outline: none;
    color: black;
    padding: 8px;
    width: 400px;

}

#header h1{
    color: aliceblue;
    font-size: 30px;
    font-family:sans-serif;
}

nav{
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    font-family:Arial;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#navi{
    display: flex;
    font-family:Arial;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: solid 1px white;
}

#menu a {
    background-color: #ef4444;
    color: white;
    text-decoration: none;
    font-family:Arial;
    font-size: 20px;
    padding: 8px 14px;
    border-radius: 999px;
    margin-top: 7px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#menu a:hover {
    transform: scale(0.8);
    background-color: #ef4444;
    color: white;
}

#bodypage{
    /* background-color: #393d42; */
    width: 100%;
    min-height: 120vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contenido{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    gap: 40px;
}

#contenido-left{
    background-color: rgba(26, 26, 26, 0.7);
    backdrop-filter: blur(20px);
    width: 60%;
    min-height: 110vh;
    margin-top: 40px;
    margin-left: 70px;
    padding: 30px;
    border-radius: 15px;
}

#post1, #post2, #post3, #post4, #post5, #post6, #post7 {
  scroll-margin-top: 80px;
}

#minecraft, #fortnite, #warzone{
    background-color: #333333;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    margin-bottom: 50px;
}

#minecraft h1, #fortnite h1, #warzone h1{
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#mine, #fort, #warz{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
}


#mine img, #fort img, #warz img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

#forpost1, #forpost2, #forpost3, #forpost4, #forpost5, #forpost6, #forpost7 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;

    background-color: #1A1A1A;
    border-radius: 20px;
    padding: 10px;
    width: 180px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

#forpost1:hover, #forpost2:hover, #forpost3:hover, #forpost4:hover, #forpost5:hover, #forpost6:hover, #forpost7:hover{
    transform: scale(0.9);
    background-color: rgb(239, 68, 68, 0.9);
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.6);
}

#forpost1 a, #forpost2 a, #forpost3 a, #forpost4 a, #forpost5 a, #forpost6 a, #forpost7 a{
    display: block;
    text-decoration: none;
    color: inherit;
}



#fort {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fort img{
    width: 150px;
    height: 150px;
}

#warz {
    display: flex;
    justify-content: center;
    align-items: center;
}

#warz img{
    width: 150px;
    height: 150px;
}


#contenido-right{
    background-color: rgba(26, 26, 26, 0.7);
    width: 30%;
    min-height: 15vh;
    margin-top: 40px;
    margin-right: 70px;
    padding: 20px;
    border-radius: 15px;
    font-size: 25px;
}

#opcion {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 45px;
    gap: 100px;
}

#opcion img{
    width: 75px;
    height: 75px;
}

#opciontext{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 135px;
    margin-top: 10px;
    margin-left: 55px;
    font-family: sans-serif;
    font-size: 15px;
}

#contenido p{
    color: white;
}

#footer{
    background-color: #1A1A1A;
    height: 250px;
    width: 100%;
    padding: 30px 20px;
    border-top: 2px solid white;
    box-sizing: border-box;
}

#footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 40px;
}

#footer-left{
    width: 50%;
    height: 175px;
    margin: 5px 0;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#footer-left p{
    color: white;
    font-size: 15px;
    font-family:sans-serif;
}

#footer-right{
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    margin-right: 150px;
}

#footer-right a{
    color: white;
    text-decoration: none;
    font-family:sans-serif;
    font-size: 15px;
    margin: 5px 0;
}
