#container {
    background-color:#333333;
    font-family:sans-serif;
    width: 100%;
    height: auto;
}

#header{
    width: 100%;
    height: 800px;
    margin: 0 ;
    border-bottom: 1px solid #334155;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title img{
    width: 208vh;
    min-height: 100%;
   
}


#searchbox{
    margin-top: 400px;

    background-color: white;
    border-radius: 50px;
    padding: 5px;
    position: absolute;
  
}

#searchbox input{
    background: transparent;
    border: none;
    outline: none;
    color: black;
    padding: 8px;
    width: 400px;

}

#header h1{
    color: aliceblue;
    font-size: 30px;
    font-family:sans-serif;
}

nav{
    background-color: #333333;
    width: 100%;
    height: 50px;
    display: flex;
    font-family:Arial;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#navi{
    display: flex;
    font-family:Arial;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #333333;
}

#menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: solid 1px white;
    background-color: #333333;
}

#menu a {
    background-color: #ef4444;
    color: white;
    text-decoration: none;
    font-family:Arial;
    font-size: 20px;
    padding: 8px 14px;
    border-radius: 999px;
    margin-top: 7px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#menu a:hover {
    transform: scale(0.8);
    background-color: #ef4444;
    color: white;
}

#bodypage{
    /* background-color: #393d42; */
    width: 100%;
    min-height: 120vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contenido{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    gap: 40px;
}

#contenido-left{
    background-color: rgba(26, 26, 26, 0.7);
    backdrop-filter: blur(20px);
    width: 60%;
    min-height: 110vh;
    margin-top: 40px;
    margin-left: 70px;
    padding: 30px;
    border-radius: 15px;
}

#contenido-left img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

#post1, #post2, #post3, #post4, #post5, #post6, #post7 {
  scroll-margin-top: 80px;
}

#post1{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
    border-bottom: solid 1px #334155;
}

#post1 p, #post2 p, #post3 p, #post4 p, #post5 p, #post6 p, #post7 p{
    margin-top: 10px;
}
#post1text{
    color: white;
    font-family:sans-serif;
    font-size: 30px;
    text-align: justify;
}

#post1text p{
    font-size: 15px;
}



#comentarios-p1{
    display: block;
    color: white;
    font-size: 15px;
}

#comentarios-p1 h4{
    font-size: 20px;
}

#comentarios-p1 h5{
    font-size: 15px;
    color: red;
}

#comentariosjs{
    margin-top: 10px;
    border-bottom: solid 1px white;
    padding: 10px;
    background-color: #333333;
    border-radius: 20px;
    color: #666666;
    margin-bottom: 30px;
}

#comentariosjs2{
    margin-top: 10px;
    border-bottom: solid 1px white;
    padding: 10px;
    background-color: #333333;
    border-radius: 20px;
    color: #666666;
    margin-bottom: 30px;
}

#comentariosjs3{
    margin-top: 10px;
    border-bottom: solid 1px white;
    padding: 10px;
    background-color: #333333;
    border-radius: 20px;
    color: #666666;
    margin-bottom: 30px;
}

#comentariosjs4{
    margin-top: 10px;
    border-bottom: solid 1px white;
    padding: 10px;
    background-color: #333333;
    border-radius: 20px;
    color: #666666;
    margin-bottom: 30px;
}

#comentariosjs5{
    margin-top: 10px;
    border-bottom: solid 1px white;
    padding: 10px;
    background-color: #333333;
    border-radius: 20px;
    color: #666666;
    margin-bottom: 30px;
}

#comentariosjs6{
    margin-top: 10px;
    border-bottom: solid 1px white;
    padding: 10px;
    background-color: #333333;
    border-radius: 20px;
    color: #666666;
    margin-bottom: 30px;
}

#comentariosjs7{
    margin-top: 10px;
    border-bottom: solid 1px white;
    padding: 10px;
    background-color: #333333;
    border-radius: 20px;
    color: #666666;
    margin-bottom: 30px;
}

#comentariosjs input{
    background: transparent;
    border: none;
    outline: none;
    width: 87%;
    padding: 5px;
    color: white;
}

#comentariosjs2 input{
    background: transparent;
    border: none;
    outline: none;
    width: 87%;
    padding: 5px;
    color: white;
}

#comentariosjs3 input{
    background: transparent;
    border: none;
    outline: none;
    width: 87%;
    padding: 5px;
    color: white;
}

#comentariosjs4 input{
    background: transparent;
    border: none;
    outline: none;
    width: 87%;
    padding: 5px;
    color: white;
}

#comentariosjs5 input{
    background: transparent;
    border: none;
    outline: none;
    width: 87%;
    padding: 5px;
    color: white;
}

#comentariosjs6 input{
    background: transparent;
    border: none;
    outline: none;
    width: 87%;
    padding: 5px;
    color: white;
}

#comentariosjs7 input{
    background: transparent;
    border: none;
    outline: none;
    width: 87%;
    padding: 5px;
    color: white;
}

#comentariosjs button{
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    transition: 0.2s ease;
    cursor: pointer;
}

#comentariosjs2 button{
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    transition: 0.2s ease;
    cursor: pointer;
}

#comentariosjs3 button{
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    transition: 0.2s ease;
    cursor: pointer;
}

#comentariosjs4 button{
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    transition: 0.2s ease;
    cursor: pointer;
}

#comentariosjs5 button{
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    transition: 0.2s ease;
    cursor: pointer;
}

#comentariosjs6 button{
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    transition: 0.2s ease;
    cursor: pointer;
}

#comentariosjs7 button{
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    transition: 0.2s ease;
    cursor: pointer;
}


#comentariosjs button:hover{
    background-color: #ef4444;
    transform: scale(1.1);
}

#comentariosjs2 button:hover{
    background-color: #ef4444;
    transform: scale(1.1);
}

#comentariosjs3 button:hover{
    background-color: #ef4444;
    transform: scale(1.1);
}

#comentariosjs4 button:hover{
    background-color: #ef4444;
    transform: scale(1.1);
}

#comentariosjs5 button:hover{
    background-color: #ef4444;
    transform: scale(1.1);
}

#comentariosjs6 button:hover{
    background-color: #ef4444;
    transform: scale(1.1);
}

#comentariosjs7 button:hover{
    background-color: #ef4444;
    transform: scale(1.1);
}

#post2{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
    border-bottom: solid 1px #334155;
    margin-top: 10px;
    border-top:solid 1px #334155;
    padding-top: 20px;
}

#post2text{
    color: white;
    font-family:sans-serif;
    font-size: 30px;
    text-align: justify;
}

#post2text p{
    font-size: 15px;
}

#post3{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
    border-bottom: solid 1px #334155;
    margin-top: 10px;
    border-top:solid 1px #334155;
    padding-top: 20px;
}

#post3text{
    color: white;
    font-family:sans-serif;
    font-size: 30px;
    text-align: justify;
}

#post3text p{
    font-size: 15px;
}

#post4{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
    border-bottom: solid 1px #334155;
    margin-top: 10px;
    border-top:solid 1px #334155;
    padding-top: 20px;
}

#post4text{
    color: white;
    font-family:sans-serif;
    font-size: 30px;
    text-align: justify;
}

#post4text p{
    font-size: 15px;
}

#post5{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
    border-bottom: solid 1px #334155;
    margin-top: 10px;
    border-top:solid 1px #334155;
    padding-top: 20px;
}

#post5text{
    color: white;
    font-family:sans-serif;
    font-size: 30px;
    text-align: justify;
}

#post5text p{
    font-size: 15px;
}

#post6{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
    border-bottom: solid 1px #334155;
    margin-top: 10px;
    border-top:solid 1px #334155;
    padding-top: 20px;
}

#post6text{
    color: white;
    font-family:sans-serif;
    font-size: 30px;
    text-align: justify;
}

#post6text p{
    font-size: 15px;
}

#post7{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
    border-bottom: solid 1px #334155;
    margin-top: 10px;
    border-top:solid 1px #334155;
    padding-top: 20px;
}

#post7text{
    color: white;
    font-family:sans-serif;
    font-size: 30px;
    text-align: justify;
}

#post7text p{
    font-size: 15px;
}

#contenido-right{
    background-color: rgba(26, 26, 26, 0.7);
    width: 30%;
    min-height: 15vh;
    margin-top: 40px;
    margin-right: 70px;
    padding: 20px;
    border-radius: 15px;
    font-size: 25px;
}

#opcion {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 45px;
    gap: 100px;
}

#opcion img{
    width: 75px;
    height: 75px;
}

#opciontext{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 135px;
    margin-top: 10px;
    margin-left: 55px;
    font-family: sans-serif;
    font-size: 15px;
}

#contenido p{
    color: white;
}

#footer{
    background-color: #1A1A1A;
    height: 250px;
    width: 100%;
    padding: 30px 20px;
    border-top: 2px solid white;
    box-sizing: border-box;
}

#footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 40px;
}

#footer-left{
    width: 50%;
    height: 175px;
    margin: 5px 0;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#footer-left p{
    color: white;
    font-size: 15px;
    font-family:sans-serif;
}

#footer-right{
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    margin-right: 150px;
}

#footer-right a{
    color: white;
    text-decoration: none;
    font-family:sans-serif;
    font-size: 15px;
    margin: 5px 0;
}