#container {
    background-color: #393d42;
    font-family:sans-serif;
    width: 100%;
    height: auto;
}

#header{
    background-color: #1f2124;
    height: 50px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

#header h1{
    color: aliceblue;
    font-size: 40px;
    font-family:sans-serif;
}

#menu {
    background-color: #171718;
    width: 100%;
    height: 40px;
    display: flex;
    font-family:sans-serif;
    justify-content: center;
    align-items: center;
    gap: 60px;
    border-bottom: 1px solid white;
}

#menu a {
  color: white;
  text-decoration: none;
  font-family:sans-serif;
  font-size: 20px;
}

#bodypage{
    background-color: #393d42;
    width: 100%;
    min-height: 120vh;
    background-image: url("imagens/fondo2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contenido{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    gap: 40px;
}

#contenido-left{
    background-color: #1f2124;
    background-color: rgba(31, 33, 36, 0.9);
    backdrop-filter: blur(20px);
    width: 60%;
    min-height: 110vh;
    margin-top: 40px;
    margin-left: 70px;
    padding: 20px;
    padding-right: 50px;
    border-radius: 15px;
}

#contenido-left img{
    width: 200px;
    height: 200px;
}

#post1{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
}

#post1text{
    color: white;
    font-family:sans-serif;
    font-size: 30px;
    text-align: justify;
}

#post1text p{
    font-size: 15px;
}

#comentarios{
    display: block;
    color: white;
    font-size: 15px;
}

#comentarios h4{
    font-size: 25px;
}

#comentarios h5{
    font-size: 20px;
    color: red;
}


#contenido-right{
    background-color: #1f2124;
    background-color: rgba(31, 33, 36, 0.9);
    width: 30%;
    min-height: 15vh;
    margin-top: 40px;
    margin-right: 70px;
    padding: 20px;
    border-radius: 15px;
    font-size: 25px;
}

#opcion {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 45px;
    gap: 100px;
}

#opcion img{
    width: 75px;
    height: 75px;
}

#opciontext{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 135px;
    margin-top: 10px;
    margin-left: 55px;
    font-family: sans-serif;
    font-size: 15px;
}

#contenido p{
    color: white;
}

#footer{
    background-color: #171718;
    height: 250px;
    width: 100%;
    padding: 30px 20px;
    border-top: 2px solid white;
    box-sizing: border-box;
}

#footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 40px;
}

#footer-left{
    width: 50%;
    height: 175px;
    margin: 5px 0;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#footer-left p{
    color: white;
    font-size: 15px;
    font-family:sans-serif;
}

#footer-right{
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    margin-right: 150px;
}

#footer-right a{
    color: white;
    text-decoration: none;
    font-family:sans-serif;
    font-size: 15px;
    margin: 5px 0;
}